h1{
    width: 10%;
    background-color: aqua;
    padding: 10%;
    margin: 0% 0% 5% 10%;
    
    
}
h2{
    width: 10%;
    background-color: aqua;
    padding: 10%;
    margin: 0% 0% 5% 10%;
  
}
h3{
    width: 10%;
    background-color: aqua;
    padding: 10%;
   margin: 0% 0% 5% 10%;
}