h1{
    color:black;
    background-color:darkgoldenrod;
    display: inline;
}

button{
    color: blue;
    background-color: rgb(0, 255, 55);
}
body{
   background-color: black;

}
label{
    color: aliceblue;
}