h1{
    color:black;
    background-color:darkgoldenrod;
    display: inline;
}

button{
    color: blue;
    background-color: black;
}
body{
    background-image: url(./download\ \(1\).jfif);
    background-size: cover;

}
label{
    color: aliceblue;
}